<div class="search">
  <input class="input-search" [(ngModel)]="query" placeholder="zoek">
</div>

<div class="tabs">
  <button (click)="setActiveTab('active')">Huishoudboekjes</button>
  <button (click)="setActiveTab('archived')">Gearchiveerd</button>
</div>

<div class="huishoudboekjes">
<ul *ngIf="activeTab === 'active'">
  <div *ngFor="let huishoudboekje of huishoudboekjes | huishoudboekjeZoek:query">
    <li *ngIf="!huishoudboekje.gearchiveerd" class="huishoudboekje-item">
      <div *ngIf="!huishoudboekje.editMode">
        <a routerLink="../huishoudboekje/{{huishoudboekje.id}}">
          <h1>- {{ huishoudboekje.naam }} -</h1>
          <div>{{ huishoudboekje.omschrijving }}</div>
        </a>
        <div class="button-container">
          <button (click)="toggleEdit(huishoudboekje)">Aanpassen</button>
          <button (click)="onArchive(huishoudboekje, true)">Archiveer</button>
        </div>
      </div>
      <div *ngIf="huishoudboekje.editMode">
        <label for="naam-{{huishoudboekje.id}}">Naam</label>
        <input id="naam-{{huishoudboekje.id}}" [(ngModel)]="huishoudboekje.naam" placeholder="Naam" class="edit-input">
        <label for="omschrijving-{{huishoudboekje.id}}">Omschrijving</label>
        <input id="omschrijving-{{huishoudboekje.id}}" [(ngModel)]="huishoudboekje.omschrijving" placeholder="Omschrijving" class="edit-input">
        <div class="button-container">
          <button (click)="onSave(huishoudboekje)">Opslaan</button>
          <button (click)="toggleEdit(huishoudboekje)">Annuleren</button>
        </div>
      </div>
    </li>
  </div>
</ul>


  <ul *ngIf="activeTab === 'archived'">
    <div *ngFor="let huishoudboekje of huishoudboekjes | huishoudboekjeZoek:query">
      <li *ngIf="huishoudboekje.gearchiveerd" class="huishoudboekje-item">
        <a routerLink="../huishoudboekje/{{huishoudboekje.id}}">
          <h1>- {{ huishoudboekje.naam }} -</h1>
          <div>{{huishoudboekje.omschrijving}}</div>
        </a>
        <div>
          <button (click)="onArchive(huishoudboekje, false)">Dearchiveer</button>
        </div>
      </li>
    </div>
  </ul>
</div>
