<div class="create-item">
  <h1>Voeg nieuwe categorie toe</h1>
  <div>
    <input [(ngModel)]="categorie.naam" placeholder="naam" required>
    <input [(ngModel)]="categorie.budget" placeholder="budget" type="number">
    <input [(ngModel)]="categorie.eindDatum" placeholder="eind datum" type="date">
    <button (click)="onAdd()">+</button>
  </div>

  <div *ngIf="submitted && !categorie.naam" class="error">!! Naam is verplicht !!</div>
  <div *ngIf="submitted && !categorie.budget" class="error">!! Budget is verplicht !!</div>
  <div *ngIf="submitted && bestaatAl" class="error">!! Categorie bestaat al !!</div>
  <span *ngIf="submitted && negativeBudget" class="error">!! Budget mag niet negatief zijn !!</span>
</div>
