header {
    text-align: center;
    background: #ffe5e9;
    margin: 0;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ff99aa;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: row;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
