input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ff99aa;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

.create-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ffe5e9;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #ff99aa;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: fit-content;
}

div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  background-color: #ff99aa;
  border: none;
  color: white;
  padding: 8px 10px 8px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 24px;
  margin-top: 2px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
