<div class="saldo-list">
  <h1>Saldo</h1>
  <span class="totals">Totaal: €{{ totalSaldo }}</span>

  <div class="month-picker">
    <label for="month">Select month:</label>
    <input type="month" id="month" (change)="filterByMonth()" [(ngModel)]="selectedMonth">
  </div>

  <div class="container">
    <div class="saldo-item">
      <h2>Inkomsten</h2>
      <span class="totals">Totaal: €{{ totalInkomsten }}</span>
      <div *ngFor="let inkomst of filterInkomsten" draggable="true" (dragstart)="dragStart($event, inkomst)">

        <div class="list-item" *ngIf="!inkomst.editMode">
          <div>
            <b>Tag:</b>
            <span *ngIf="inkomst.tag">
               {{ inkomst.tag }}
            </span>
          </div>
          <span *ngIf="inkomst.categorie">
             <b>Categorie:</b> {{ inkomst.categorie.naam }}
          </span>
          <div>
            <b>Bedrag:</b>
            <span *ngIf="inkomst.bedrag">
               €{{ inkomst.bedrag }}
            </span>
          </div>
          <div>
            <b>Datum:</b>
            <span *ngIf="inkomst.datum">
              {{ inkomst.datum | date:'dd-MM-yyyy' }}
            </span>
          </div>
          <div class="button-container">
            <button (click)="toggleEdit(inkomst)">✎</button>
            <button (click)="onDelete(inkomst)" class="delete">-</button>
          </div>
        </div>
        <div class="list-item" *ngIf="inkomst.editMode">
          <b>Tag:</b> <input id="tag-{{inkomst.tag}}" [(ngModel)]="inkomst.tag" placeholder="tag" class="edit-input">
          <span *ngIf="inkomst.categorie">
             <b>Categorie:</b> {{ inkomst.categorie }}
          </span>
          <b>Bedrag:</b> <input id="bedrag-{{inkomst.bedrag}}" [(ngModel)]="inkomst.bedrag" type="number" placeholder="bedrag" class="edit-input">
          <div>
            <b>Datum:</b>
            <span *ngIf="inkomst.datum">
              {{ inkomst.datum | date:'dd-MM-yyyy' }}
            </span>
          </div>
          <div *ngIf="submitted && !inkomst.bedrag" class="error">!! Bedrag is verplicht !!</div>
          <div class="button-container">
            <button (click)="onSave(inkomst)">🖫</button>
          </div>
        </div>
      </div>
    </div>

    <div class="saldo-item">
      <h2>Uitgaven</h2>
      <span class="totals">Totaal: €{{ totalUitgaven }}</span>
      <div *ngFor="let uitgave of filterUitgaven" draggable="true" (dragstart)="dragStart($event, uitgave)">
        <div class="list-item" *ngIf="!uitgave.editMode">
          <div>
            <b>Tag:</b>
            <span *ngIf="uitgave.tag">
               {{ uitgave.tag }}
            </span>
          </div>
          <span *ngIf="uitgave.categorie">
             <b>Categorie:</b> {{ uitgave.categorie.naam }}
          </span>
          <div>
            <b>Bedrag:</b>
            <span *ngIf="uitgave.bedrag">
               €{{ uitgave.bedrag }}
            </span>
          </div>
          <div>
            <b>Datum:</b>
            <span *ngIf="uitgave.datum">
              {{ uitgave.datum | date:'dd-MM-yyyy' }}
            </span>
          </div>
          <div class="button-container">
            <button (click)="toggleEdit(uitgave)">✎</button>
            <button (click)="onDelete(uitgave)" id="delete">-</button>
          </div>
        </div>
        <div class="list-item" *ngIf="uitgave.editMode">
          <b>Tag:</b> <input id="tag-{{uitgave.tag}}" [(ngModel)]="uitgave.tag" placeholder="tag" class="edit-input">
          <span *ngIf="uitgave.categorie">
             <b>Categorie:</b> {{ uitgave.categorie }}
          </span>
          <b>Bedrag:</b> <input id="bedrag-{{uitgave.bedrag}}" [(ngModel)]="uitgave.bedrag" type="number" placeholder="bedrag" class="edit-input">
          <div>
            <b>Datum:</b>
            <span *ngIf="uitgave.datum">
              {{ uitgave.datum | date:'dd-MM-yyyy' }}
            </span>
          </div>
          <div *ngIf="submitted && !uitgave.bedrag" class="error">!! Bedrag is verplicht !!</div>
          <div class="button-container">
            <button (click)="onSave(uitgave)">🖫</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
